# single misc files
.config/QtProject.conf

# IDEs & stuff
.config/Atom/

# system junk
.config/chromium/
.config/gconf/
.config/gotop/
.config/gtk-3.0/
.config/htop/
.config/kitty/
.config/mpv/
.config/procps/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/pulse/
.config/remmina/
.config/vlc/
.config/dconf/
.config/freerdp/
.config/urxvtconfig/

# because it is swappable from side files
.config/i3/config
